
    <div class="form_wrapper">
      <div class="sms" *ngIf="mensaje.length > 0" >Usuario Guardado correctamente</div>
      <div class="form_container">
        <div class="title_container">
          <h2>Crear Cuenta</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form [formGroup]="checkoutForm" (ngSubmit)="create()">
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="email" name="email" formControlName="email" placeholder="Email" required />
              </div>
              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="password" name="password" formControlName="password" placeholder="Password" required />
              </div>
              <div class="row clearfix">
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" formControlName="name" placeholder="Nombre" />
                  </div>
                </div>
                <div class="col_half">
                  <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                    <input type="text" name="name" formControlName="lastName" placeholder="Apellidos" required />
                  </div>
                </div>
              </div>
                <div class="input_field checkbox_option">
                  <input type="checkbox" id="cb2" formControlName="newsletters">
                  <label for="cb2">Quiero recibir el newsletter</label>
                </div>
              <input class="button" type="submit" value="Guardar" />
            </form>
            <a class=" session" href="http://localhost:8080/oauth2/authorize?client_id=company&redirect_uri=http://localhost:4200/&scope=read&response_type=code&response_mode=form_post">
              Iniciar Session</a>
          </div>
        </div>
      </div>
    </div>




