<div class="sms" *ngIf="mensaje.length > 0" >{{mensaje}}</div>
<div id="tabla-precios">
    <div class="precio-col" *ngFor="let item of subscriptions">
        <div class="precio-col-header">
            <h3>$ {{item.price}} / {{item.type}}</h3>
        </div>
  
        <div class="precio-col-features">
            <p>Característica 1</p>
            <p>Característica 2</p>
            <p>Característica 3</p>
        </div>
  
        <div class="precio-col-comprar">
            <a (click)="createPayment(item)" >Comprar</a>
        </div>
    </div>
  </div>
